*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid red;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: row;
  width: 1140px;
  height: 534px;
  gap: 30px;
  outline: 1px solid red;
}

.search-form {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.content__list-container {
  outline: 1px solid red;
  height: 534px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;      
}

.title {
  width: 259px;
  height: 210px;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  font-family: Oswald;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  width: 196px;
  height: 30px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.content__video-card-description {
  width: 196px;
  min-height: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: fit-content;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

input {
  width: 225px;
  height: 27px;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  border: none;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: #1B1919;
  appearance: none;
}

input:focus,
input:focus-visible {
  outline: none;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}